<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="moony"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
  	<mapper resource="config/membersMapper.xml"/>
	<mapper resource="config/employeeMapper.xml"/>
	<mapper resource="config/projectMapper.xml"/>
	<mapper resource="config/taskMapper.xml"/>
    <mapper resource="config/fileBoxMapper.xml"/>
    <mapper resource="config/scheduleMapper.xml"/>
  	<mapper resource="config/projectMapper.xml"/>
    <mapper resource="config/employeeMapper.xml"/>
    <mapper resource="config/detailMapper.xml"/>
  </mappers>
  
</configuration>
 
